.sec2{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
  } 
  .t1{
    font-weight: 700;
    font-size: 52px;
    line-height: 150%;
  }
  .t2{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #969696;
    margin-top: 30px;
    text-align: left;
  }
  .free{
    margin-top: 40px;
    background: #6A4BFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 45px;
    border: 1px solid #6A4BFF;
    color: #fff;
  }
  .free:hover{
    color: #6A4BFF;
    background-color: #fff;
    transition: 0.5s ease;
  }
  .left-text{
    margin: 163px 0px 0px 120px;
  }
  .dash{
    width: 45%;
    margin-right: 20px;
  }

  @media (max-width:1230px){
    .t1{
        line-height: normal;
        font-size: 44px;
        transition: all .5s ease;
    }
    .t2{
        line-height: normal;
        transition: all .5s ease;
    }
  }
  @media (max-width:992px){
    .t1{
        font-size: 25px;
        transition: all .5s ease;
    }
    .left-text{
        margin: 163px 0px 0px 10px;
        transition: all .5s ease;
      }
    .sec2{
        justify-content: space-evenly;
    }
  }
  @media (max-width:576px){
    .sec2{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .left-text{
     margin-top: 20px;
    }
    .t1{
      text-align: center;
      padding: 0px 20px;
    }
    .t2{
      text-align: center;
      padding: 0px 20px;
      font-weight: 300;
    }
    .dash{
      width: 310px;
      margin: 0px;
    }
  }